<li role="menuitem">
    <span>
        <a href="/<%=topic.categoryId%>" target="_blank">
            <div class="icon" onclick="toggle(<%= topic.categoryId%>)">
                <img src="../../public/images/<%= topic.categoryId%>.png" style="width: 20px; height: 20px;">
            </div>
        </a>
        <ul style="display:none" id="topic_<%= topic.categoryId%>">
            <% for (let subtopic of subtopics) {%>
            <% if (topic.categoryId === subtopic.topicId) {%>
            <%- include('subtopic', {subtopic}) %>
            <%}%>
                 <%}%>
        </ul>

        <!-- <em class="arrow"></em> -->
        <span><%= topic.categoryName%></span>
    </span>
</li>